*,
*::before,
*::after {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

table,
thead,
tbody,
thead th,
tbody td {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 0.6rem;
    vertical-align: middle;
}

th {
    background-color: coral;
}

@media screen and (max-width: 768px) {

    table,
    thead,
    tbody,
    thead th,
    tbody td {
        display: block;
        border-collapse: collapse;
    }

    table {
        width: 95%;
        white-space: nowrap;
    }

    thead {
        float: left;
    }

    tbody {
        overflow-x: auto;
    }

    tbody tr {
        display: table-cell;
    }
}