*,
*::before,
*::after {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

table,
thead,
tbody,
thead th,
tbody td {
    display: block;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
}

tbody tr {
    display: table-cell;
}

thead {
    float: left;
}

th,
td {
    padding: 0.6rem;
    vertical-align: middle;
}

table {
    width: 95%;
}

th {
    background-color: coral;
}